openapi: 3.1.0

info:
  title: Reddit Ads API Connector
  version: 1.0.0
  description: >
    Connector for the Reddit Ads API v3. Provides read access to Reddit advertising
    account structure: businesses, ad accounts, campaigns, ad groups, and ads.
    Supports OAuth 2.0 authentication with automatic token refresh. All list endpoints
    support cursor-based pagination via page.token. Performance metrics (impressions,
    clicks, spend, CTR) are not exposed by this connector.
  x-airbyte-connector-name: reddit-ads
  x-airbyte-connector-definition-id: c876992b-877e-4bb3-946b-4678c82bb7ac
  x-airbyte-replication-version: "0.0.9"
  x-airbyte-replication-compatibility: ">=0.0.9, <1.0.0"
  x-airbyte-external-documentation-urls:
    - type: api_reference
      title: Reddit Ads API Documentation
      url: https://ads-api.reddit.com/docs/v3/api/reddit-advertising-api

  x-airbyte-example-questions:
    direct:
      - "List all campaigns in my ad account"
      - "Show me my ad groups"
      - "Get details for a specific ad"
      - "List all ad accounts in my business"
    search:
      - "Which campaigns are paused and what are their objectives?"
      - "List ads in campaign X grouped by effective status"
      - "Which campaigns have a lifetime spend cap above $1000?"
      - "Find paused ad groups"
    unsupported:
      - "Create a new campaign"
      - "Update ad group targeting"
      - "Delete an ad"
      - "Upload creative assets"

  x-airbyte-entity-relationships:
    - source_entity: ad_accounts
      target_entity: businesses
      foreign_key: business_id
      target_key: id
      cardinality: many_to_one
    - source_entity: campaigns
      target_entity: ad_accounts
      foreign_key: ad_account_id
      target_key: id
      cardinality: many_to_one
    - source_entity: ad_groups
      target_entity: ad_accounts
      foreign_key: ad_account_id
      target_key: id
      cardinality: many_to_one
    - source_entity: ad_groups
      target_entity: campaigns
      foreign_key: campaign_id
      target_key: id
      cardinality: many_to_one
    - source_entity: ads
      target_entity: ad_accounts
      foreign_key: ad_account_id
      target_key: id
      cardinality: many_to_one
    - source_entity: ads
      target_entity: ad_groups
      foreign_key: ad_group_id
      target_key: id
      cardinality: many_to_one
    - source_entity: ads
      target_entity: campaigns
      foreign_key: campaign_id
      target_key: id
      cardinality: many_to_one

  x-airbyte-context-store:
    entities:
      - entity: campaigns
        suggested: true
        x-airbyte-name: campaign
        fields:
          - name: ad_account_id
            type: ["null", "string"]
            description: The ad account this campaign belongs to
          - name: app_id
            type: ["null", "string"]
            description: App Store or Play Store ID
          - name: configured_status
            type: ["null", "string"]
            description: User-configured status (ACTIVE, ARCHIVED, DELETED, PAUSED)
          - name: created_at
            type: ["null", "string"]
            description: Creation timestamp in ISO 8601 format
          - name: effective_status
            type: ["null", "string"]
            description: Effective delivery status
          - name: funding_instrument_id
            type: ["null", "string"]
            description: Funding instrument ID
          - name: goal_type
            type: ["null", "string"]
            description: Goal type (LIFETIME_SPEND, DAILY_SPEND)
          - name: goal_value
            type: ["null", "integer"]
            description: Goal value in microcurrency
          - name: id
            type: ["null", "string"]
            description: Unique campaign identifier
          - name: is_campaign_budget_optimization
            type: ["null", "boolean"]
            description: Whether campaign budget optimization is enabled
          - name: modified_at
            type: ["null", "string"]
            description: Last modification timestamp
          - name: name
            type: ["null", "string"]
            description: Campaign name
          - name: objective
            type: ["null", "string"]
            description: Campaign objective
          - name: spend_cap
            type: ["null", "integer"]
            description: Spend cap in microcurrency
      - entity: ads
        suggested: true
        x-airbyte-name: ad
        fields:
          - name: ad_account_id
            type: ["null", "string"]
            description: The ad account this ad belongs to
          - name: ad_group_id
            type: ["null", "string"]
            description: The ad group this ad belongs to
          - name: campaign_id
            type: ["null", "string"]
            description: The campaign this ad belongs to
          - name: click_url
            type: ["null", "string"]
            description: Click destination URL
          - name: configured_status
            type: ["null", "string"]
            description: User-configured status
          - name: created_at
            type: ["null", "string"]
            description: Creation timestamp
          - name: effective_status
            type: ["null", "string"]
            description: Effective delivery status
          - name: id
            type: ["null", "string"]
            description: Unique ad identifier
          - name: modified_at
            type: ["null", "string"]
            description: Last modification timestamp
          - name: name
            type: ["null", "string"]
            description: Ad name
          - name: post_id
            type: ["null", "string"]
            description: Reddit post ID (t3_ prefix)
          - name: post_url
            type: ["null", "string"]
            description: Reddit post URL
          - name: preview_url
            type: ["null", "string"]
            description: Ad preview URL
          - name: rejection_reason
            type: ["null", "string"]
            description: Reason the ad was rejected

  x-airbyte-replication-config:
    title: Replication Configuration
    description: Settings for data replication from Reddit Ads.
    properties:
      ad_account_id:
        type: string
        title: Ad Account ID
        description: The Reddit Ads account ID to replicate data from.
      start_time:
        type: string
        title: Start Time
        description: >
          UTC date and time in the format YYYY-MM-DDTHH:mm:ssZ. Data
          will be replicated starting from this date. Defaults to 24 months ago.
        format: date-time
      user_agent:
        type: string
        title: User Agent
        description: >
          A unique user agent string identifying the client.
          Recommended format: platform:app_id:version (by /u/username).
    required:
      - ad_account_id
    replication_config_key_mapping:
      ad_account_id: ad_account_id
      start_time: start_time
      user_agent: user_agent
    replication_config_constants:
      user_agent: "airbyte-agent-connector:reddit-ads:v1.0.0"

servers:
  - url: https://ads-api.reddit.com/api/v3
    description: Reddit Ads API v3

security:
  - oauth2:
      - adsread

paths:
  # ──────────────────────────────────────────────────────────────
  # Businesses (root entity — no path params required)
  # ──────────────────────────────────────────────────────────────
  "/me/businesses":
    get:
      summary: List my businesses
      description: Retrieve all businesses associated with the authenticated user.
      operationId: listMyBusinesses
      x-airbyte-entity: businesses
      x-airbyte-action: list
      x-airbyte-preferred-for-check: true
      x-airbyte-record-extractor: $.data
      x-airbyte-meta-extractor:
        next_link: $.pagination.next_url
      parameters:
        - name: page.size
          in: query
          description: Number of items per page (max 1000)
          required: false
          schema:
            type: integer
            maximum: 1000
        - name: page.token
          in: query
          description: Pagination token for next page
          required: false
          schema:
            type: string
      responses:
        "200":
          description: A list of businesses
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Business"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          description: Unauthorized

  # ──────────────────────────────────────────────────────────────
  # Ad Accounts
  # ──────────────────────────────────────────────────────────────
  "/businesses/{business_id}/ad_accounts":
    get:
      summary: List ad accounts by business
      description: Retrieve the ad accounts in a business.
      operationId: listAdAccountsByBusiness
      x-airbyte-entity: ad_accounts
      x-airbyte-action: list
      x-airbyte-record-extractor: $.data
      x-airbyte-meta-extractor:
        next_link: $.pagination.next_url
      x-airbyte-param-sources:
        business_id:
          parent_entity: businesses
          parent_key: id
      parameters:
        - name: business_id
          in: path
          required: true
          description: The business ID
          schema:
            type: string
        - name: page.size
          in: query
          description: Number of items per page (max 1000)
          required: false
          schema:
            type: integer
            maximum: 1000
        - name: page.token
          in: query
          description: Pagination token for next page
          required: false
          schema:
            type: string
      responses:
        "200":
          description: A list of ad accounts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/AdAccount"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not found

  "/ad_accounts/{ad_account_id}":
    get:
      summary: Get ad account
      description: Retrieve ad account by ID.
      operationId: getAdAccount
      x-airbyte-entity: ad_accounts
      x-airbyte-action: get
      x-airbyte-record-extractor: $.data
      parameters:
        - name: ad_account_id
          in: path
          required: true
          description: The ad account ID
          schema:
            type: string
      responses:
        "200":
          description: An ad account
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AdAccount"
        "401":
          description: Unauthorized
        "404":
          description: Not found

  # ──────────────────────────────────────────────────────────────
  # Campaigns
  # ──────────────────────────────────────────────────────────────
  "/ad_accounts/{ad_account_id}/campaigns":
    get:
      summary: List campaigns
      description: Retrieve campaigns by ad account.
      operationId: listCampaigns
      x-airbyte-entity: campaigns
      x-airbyte-action: list
      x-airbyte-record-extractor: $.data
      x-airbyte-meta-extractor:
        next_link: $.pagination.next_url
      x-airbyte-param-sources:
        ad_account_id:
          parent_entity: ad_accounts
          parent_key: id
      parameters:
        - name: ad_account_id
          in: path
          required: true
          description: The ad account ID
          schema:
            type: string
        - name: id
          in: query
          description: Filter by campaign IDs (comma-separated)
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
            maxItems: 200
        - name: page.size
          in: query
          description: Number of items per page (max 1000)
          required: false
          schema:
            type: integer
            maximum: 1000
        - name: page.token
          in: query
          description: Pagination token for next page
          required: false
          schema:
            type: string
      responses:
        "200":
          description: A list of campaigns
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Campaign"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          description: Unauthorized
        "404":
          description: Not found

  "/campaigns/{campaign_id}":
    get:
      summary: Get campaign
      description: Retrieve a campaign by ID.
      operationId: getCampaign
      x-airbyte-entity: campaigns
      x-airbyte-action: get
      x-airbyte-record-extractor: $.data
      parameters:
        - name: campaign_id
          in: path
          required: true
          description: The campaign ID
          schema:
            type: string
      responses:
        "200":
          description: A campaign
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Campaign"
        "401":
          description: Unauthorized
        "404":
          description: Not found

  # ──────────────────────────────────────────────────────────────
  # Ad Groups
  # ──────────────────────────────────────────────────────────────
  "/ad_accounts/{ad_account_id}/ad_groups":
    get:
      summary: List ad groups
      description: Retrieve ad groups by ad account.
      operationId: listAdGroups
      x-airbyte-entity: ad_groups
      x-airbyte-action: list
      x-airbyte-record-extractor: $.data
      x-airbyte-meta-extractor:
        next_link: $.pagination.next_url
      x-airbyte-param-sources:
        ad_account_id:
          parent_entity: ad_accounts
          parent_key: id
      parameters:
        - name: ad_account_id
          in: path
          required: true
          description: The ad account ID
          schema:
            type: string
        - name: campaign_id
          in: query
          description: Filter by campaign ID
          required: false
          schema:
            type: string
        - name: page.size
          in: query
          description: Number of items per page (max 1000)
          required: false
          schema:
            type: integer
            maximum: 1000
        - name: page.token
          in: query
          description: Pagination token for next page
          required: false
          schema:
            type: string
      responses:
        "200":
          description: A list of ad groups
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/AdGroup"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          description: Unauthorized
        "404":
          description: Not found

  "/ad_groups/{ad_group_id}":
    get:
      summary: Get ad group
      description: Retrieve an ad group by ID.
      operationId: getAdGroup
      x-airbyte-entity: ad_groups
      x-airbyte-action: get
      x-airbyte-record-extractor: $.data
      parameters:
        - name: ad_group_id
          in: path
          required: true
          description: The ad group ID
          schema:
            type: string
      responses:
        "200":
          description: An ad group
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AdGroup"
        "401":
          description: Unauthorized
        "404":
          description: Not found

  # ──────────────────────────────────────────────────────────────
  # Ads
  # ──────────────────────────────────────────────────────────────
  "/ad_accounts/{ad_account_id}/ads":
    get:
      summary: List ads
      description: >
        Retrieve ads by ad account. Filters combine with logical AND
        across different query parameters.
      operationId: listAds
      x-airbyte-entity: ads
      x-airbyte-action: list
      x-airbyte-record-extractor: $.data
      x-airbyte-meta-extractor:
        next_link: $.pagination.next_url
      x-airbyte-param-sources:
        ad_account_id:
          parent_entity: ad_accounts
          parent_key: id
      parameters:
        - name: ad_account_id
          in: path
          required: true
          description: The ad account ID
          schema:
            type: string
        - name: campaign_id
          in: query
          description: Filter by campaign IDs (comma-separated)
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
            maxItems: 200
        - name: ad_group_id
          in: query
          description: Filter by ad group IDs (comma-separated)
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
            maxItems: 200
        - name: configured_status
          in: query
          description: Filter by configured status
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - ACTIVE
                - ARCHIVED
                - DELETED
                - PAUSED
        - name: effective_status
          in: query
          description: Filter by effective status
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - ACTIVE
                - AD_GROUP_PAUSED
                - ARCHIVED
                - CAMPAIGN_PAUSED
                - COMPLETED
                - DELETED
                - MISSING_PERMISSIONS
                - PAUSED
                - PENDING_APPROVAL
                - PENDING_BILLING_INFO
                - PENDING_ID_VERIFICATION
                - PROCESSING
                - REJECTED
        - name: page.size
          in: query
          description: Number of items per page (max 1000)
          required: false
          schema:
            type: integer
            maximum: 1000
        - name: page.token
          in: query
          description: Pagination token for next page
          required: false
          schema:
            type: string
      responses:
        "200":
          description: A list of ads
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Ad"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          description: Unauthorized
        "404":
          description: Not found

  "/ads/{ad_id}":
    get:
      summary: Get ad
      description: Retrieve an ad by ID.
      operationId: getAd
      x-airbyte-entity: ads
      x-airbyte-action: get
      x-airbyte-record-extractor: $.data
      parameters:
        - name: ad_id
          in: path
          required: true
          description: The ad ID
          schema:
            type: string
      responses:
        "200":
          description: An ad
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Ad"
        "401":
          description: Unauthorized
        "404":
          description: Not found

components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: >
        Reddit OAuth2 authentication. Requires a Reddit developer application
        with adsread scope. Token URL and refresh URL use the same endpoint.
        Client credentials are sent via HTTP Basic auth during token refresh.
      flows:
        authorizationCode:
          authorizationUrl: https://www.reddit.com/api/v1/authorize
          tokenUrl: https://www.reddit.com/api/v1/access_token
          refreshUrl: https://www.reddit.com/api/v1/access_token
          scopes:
            adsread: Read advertising data through my account
            adsedit: Write advertising data through my account
            adsconversions: Post conversion events through the API
      x-airbyte-token-refresh:
        auth_style: basic
        body_format: form
      x-airbyte-auth-config:
        title: Reddit OAuth2 Authentication
        type: object
        required:
          - client_id
          - client_secret
          - refresh_token
        properties:
          client_id:
            type: string
            title: Client ID
            description: The OAuth2 client ID from your Reddit developer application.
          client_secret:
            type: string
            title: Client Secret
            description: The OAuth2 client secret from your Reddit developer application.
          refresh_token:
            type: string
            title: Refresh Token
            description: >
              The OAuth2 refresh token obtained through the authorization code flow.
        auth_mapping:
          client_id: "${client_id}"
          client_secret: "${client_secret}"
          refresh_token: "${refresh_token}"
        replication_auth_key_mapping:
          client_id: "client_id"
          client_secret: "client_secret"
          refresh_token: "refresh_token"

  schemas:
    Pagination:
      type: object
      description: Pagination metadata for list responses
      properties:
        next_url:
          type:
            - "null"
            - string
          description: Full URL for next page. Null if this is the last page.
        previous_url:
          type:
            - "null"
            - string
          description: Full URL for previous page. Null if this is the first page.

    Business:
      type: object
      x-airbyte-entity-name: businesses
      x-airbyte-ai-hints:
        summary: "Reddit advertising businesses that own ad accounts"
        when_to_use: "Questions about business entities, business settings, or finding which businesses the user has access to"
        trigger_phrases:
          - "business"
          - "my businesses"
          - "business account"
          - "organization"
        freshness: live
        search_strategy: "Search by business name"
        example_questions:
          - "What businesses do I have access to?"
          - "Show me my business details"
      description: A Reddit advertising business entity.
      properties:
        id:
          type: string
          description: Unique business identifier (UUID)
        name:
          type: string
          description: Business name
        country:
          type: string
          description: Business country code
        primary_contact_id:
          type: string
          description: Primary contact member ID
        creator_id:
          type: string
          description: ID of the user who created the business
        industry:
          type: string
          description: Business industry
        website_url:
          type:
            - "null"
            - string
          description: Business website URL
        phone:
          type:
            - "null"
            - string
          description: Business phone number
        agency_affiliated:
          type: boolean
          description: Whether the business is affiliated with an agency
        two_fa_enforcement:
          type: string
          description: Two-factor authentication enforcement setting
        created_at:
          type: string
          format: date-time
          description: Business creation timestamp
        modified_at:
          type: string
          format: date-time
          description: Last modification timestamp

    AdAccount:
      type: object
      x-airbyte-entity-name: ad_accounts
      x-airbyte-ai-hints:
        summary: "Reddit advertising accounts with billing, attribution, and configuration settings"
        when_to_use: "Questions about ad account setup, billing status, attribution windows, or account-level settings"
        trigger_phrases:
          - "ad account"
          - "billing info"
          - "account status"
          - "attribution window"
          - "Reddit ads account"
        freshness: live
        search_strategy: "Search by account name or ID"
        example_questions:
          - "What ad accounts do I have?"
          - "What is the attribution window for my ad account?"
          - "Is my ad account in good standing?"
      description: A Reddit ad account with billing, attribution, and configuration settings.
      properties:
        id:
          type: string
          description: Unique ad account identifier (t2_ or a2_ prefix)
        name:
          type: string
          description: Ad account name
        business_id:
          type: string
          description: The business this account belongs to
        type:
          type: string
          enum:
            - MANAGED
            - SELF_SERVE
          description: Account type
        currency:
          type: string
          description: Account currency code
        time_zone_id:
          type: string
          description: Account time zone
        admin_approval:
          type: string
          enum:
            - ADMIN
            - BANNED
            - NEEDS_ID_VERIFICATION
            - PENDING
            - SUSPENDED
            - SUSPICIOUS
            - TRUSTED
            - VALID
          description: Admin approval status
        attribution_type:
          type: string
          description: Attribution type for web conversions
        click_attribution_window:
          type: string
          enum:
            - DAY
            - MONTH
            - WEEK
          description: Click attribution window
        view_attribution_window:
          type: string
          enum:
            - DAY
            - MONTH
            - WEEK
          description: View attribution window
        app_attribution_type:
          type: string
          description: Attribution type for app events
        app_click_attribution_window:
          type: string
          description: App click attribution window
        app_view_attribution_window:
          type: string
          description: App view attribution window
        primary_contact_member_id:
          type: string
          description: Primary contact member ID
        suspension_reason:
          type:
            - "null"
            - string
          description: Reason for account suspension, if applicable
        created_at:
          type: string
          format: date-time
          description: Account creation timestamp
        modified_at:
          type: string
          format: date-time
          description: Last modification timestamp
        excluded_communities:
          type: array
          items:
            type: string
          description: List of excluded community IDs
        excluded_keywords:
          type: array
          items:
            type: string
          description: List of excluded keywords
        pixel_partner_preferences:
          type: array
          items:
            type: string
          description: Pixel partner preferences

    Campaign:
      type: object
      x-airbyte-entity-name: campaigns
      x-airbyte-stream-name: campaign
      x-airbyte-ai-hints:
        summary: "Reddit advertising campaigns with budget, objective, and scheduling configuration"
        when_to_use: "Questions about campaign setup, budgets, objectives, status, or performance settings"
        trigger_phrases:
          - "campaign"
          - "ad campaign"
          - "campaign budget"
          - "campaign objective"
          - "campaign status"
        freshness: live
        search_strategy: "Search by campaign name or filter by status and objective"
        example_questions:
          - "What campaigns are currently active?"
          - "Which campaigns have the highest budget?"
          - "Show me campaigns with a conversions objective"
      description: A Reddit advertising campaign with objective, budget, and scheduling settings.
      properties:
        id:
          type: string
          description: Unique campaign identifier
        name:
          type: string
          description: Campaign name
        ad_account_id:
          type: string
          description: The ad account this campaign belongs to
        objective:
          type: string
          enum:
            - APP_INSTALLS
            - CATALOG_SALES
            - CLICKS
            - CONVERSIONS
            - IMPRESSIONS
            - LEAD_GENERATION
            - VIDEO_VIEWABLE_IMPRESSIONS
          description: Campaign objective
        configured_status:
          type: string
          enum:
            - ACTIVE
            - ARCHIVED
            - DELETED
            - PAUSED
          description: User-configured status
        effective_status:
          type: string
          enum:
            - ACTIVE
            - AD_GROUP_PAUSED
            - ARCHIVED
            - CAMPAIGN_PAUSED
            - COMPLETED
            - DELETED
            - PAUSED
            - PENDING_APPROVAL
            - PENDING_BILLING_INFO
            - PENDING_ID_VERIFICATION
            - REJECTED
            - PROCESSING
          description: Effective delivery status
        delivery_status:
          type:
            - "null"
            - array
          items:
            type: string
          description: Delivery status details
        funding_instrument_id:
          type: string
          description: Funding instrument ID
        goal_type:
          type: string
          enum:
            - LIFETIME_SPEND
            - DAILY_SPEND
          description: Budget goal type
        goal_value:
          type: integer
          description: Budget goal value in microcurrency
        is_campaign_budget_optimization:
          type: boolean
          description: Whether campaign budget optimization is enabled
        spend_cap:
          type:
            - "null"
            - integer
          description: Spend cap in microcurrency
        start_time:
          type:
            - "null"
            - string
          description: Campaign start time in ISO 8601 format
        end_time:
          type:
            - "null"
            - string
          description: Campaign end time in ISO 8601 format
        optimization_goal:
          type:
            - "null"
            - string
          description: Optimization goal for the campaign
        bid_strategy:
          type:
            - "null"
            - string
          description: Bid strategy
        bid_type:
          type:
            - "null"
            - string
          description: Bid type
        bid_value:
          type:
            - "null"
            - integer
          description: Bid value in microcurrency
        app_id:
          type:
            - "null"
            - string
          description: App Store or Play Store app ID
        view_through_conversion_type:
          type:
            - "null"
            - string
          description: View-through conversion attribution type
        special_ad_categories:
          type: array
          items:
            type: string
          description: Special ad categories
        schedule:
          type: array
          description: Weekly delivery schedule
        skadnetwork_metadata:
          type:
            - "null"
            - object
          description: SKAdNetwork metadata for iOS attribution
        age_restriction:
          type:
            - "null"
            - string
          description: Age restriction setting
        invoice_label:
          type:
            - "null"
            - string
          description: Invoice label
        conversion_pixel_id:
          type:
            - "null"
            - string
          description: Conversion pixel ID
        is_max:
          type: boolean
          description: Whether this is a Max campaign
        use_catalog:
          type: boolean
          description: Whether this campaign uses a product catalog
        type:
          type: string
          description: Campaign type (MANUAL, AUTOMATED)
        created_at:
          type: string
          format: date-time
          description: Campaign creation timestamp
        modified_at:
          type: string
          format: date-time
          description: Last modification timestamp

    AdGroup:
      type: object
      x-airbyte-entity-name: ad_groups
      x-airbyte-ai-hints:
        summary: "Reddit ad groups with targeting, bidding, and scheduling settings within campaigns"
        when_to_use: "Questions about ad group targeting, bid settings, optimization, or scheduling"
        trigger_phrases:
          - "ad group"
          - "targeting"
          - "bid settings"
          - "ad set"
          - "audience targeting"
        freshness: live
        search_strategy: "Search by ad group name, filter by campaign or status"
        example_questions:
          - "What ad groups are in my campaign?"
          - "Show me ad groups with CPC bidding"
          - "Which ad groups are paused?"
      description: A Reddit ad group with targeting, bidding, and scheduling settings.
      properties:
        id:
          type: string
          description: Unique ad group identifier
        name:
          type: string
          description: Ad group name
        type:
          type: string
          enum:
            - MANUAL
            - AUTOMATED
          description: Ad group type
        ad_account_id:
          type: string
          description: The ad account this ad group belongs to
        campaign_id:
          type: string
          description: The campaign this ad group belongs to
        configured_status:
          type: string
          enum:
            - ACTIVE
            - ARCHIVED
            - DELETED
            - PAUSED
          description: User-configured status
        effective_status:
          type: string
          enum:
            - ACTIVE
            - AD_GROUP_PAUSED
            - ARCHIVED
            - CAMPAIGN_PAUSED
            - COMPLETED
            - DELETED
            - PAUSED
            - PENDING_APPROVAL
            - PENDING_BILLING_INFO
            - PENDING_ID_VERIFICATION
            - REJECTED
            - PROCESSING
          description: Effective delivery status
        delivery_status:
          type:
            - "null"
            - array
          items:
            type: string
          description: Delivery status details
        bid_strategy:
          type:
            - "null"
            - string
          description: Bid strategy
        bid_type:
          type:
            - "null"
            - string
          description: Bid type
        bid_value:
          type:
            - "null"
            - integer
          description: Bid value in microcurrency
        optimization_goal:
          type:
            - "null"
            - string
          description: Optimization goal
        campaign_objective_type:
          type:
            - "null"
            - string
          description: Campaign objective type inherited from parent campaign
        goal_type:
          type:
            - "null"
            - string
          description: Goal type
        goal_value:
          type:
            - "null"
            - integer
          description: Goal value in microcurrency
        is_campaign_budget_optimization:
          type:
            - "null"
            - boolean
          description: Whether campaign budget optimization is enabled
        start_time:
          type:
            - "null"
            - string
          description: Ad group start time in ISO 8601 format
        end_time:
          type:
            - "null"
            - string
          description: Ad group end time in ISO 8601 format
        targeting:
          type: object
          additionalProperties: true
          description: Targeting configuration
          properties:
            communities:
              type: array
              items:
                type: string
              description: Targeted community subreddit names
            custom_audience_ids:
              type: array
              items:
                type: string
              description: Custom audience IDs to target
            excluded_communities:
              type: array
              items:
                type: string
              description: Excluded community subreddit names
            excluded_custom_audience_ids:
              type: array
              items:
                type: string
              description: Excluded custom audience IDs
            excluded_geolocations:
              type: array
              items:
                type: object
              description: Excluded geographic locations
            excluded_keywords:
              type: array
              items:
                type: string
              description: Excluded keywords for targeting
            expand_targeting:
              type: boolean
              description: Whether to expand targeting beyond specified criteria
            geolocations:
              type: array
              items:
                type: object
              description: Targeted geographic locations
            interests:
              type: array
              items:
                type: string
              description: Interest category IDs for targeting
            devices:
              type: array
              items:
                type: object
                properties:
                  type:
                    type: string
                    description: Device type (DESKTOP, MOBILE)
                  os:
                    type:
                      - "null"
                      - string
                    description: Device OS (ANDROID, IOS)
                  min_version:
                    type:
                      - "null"
                      - string
                    description: Minimum major OS version
                  max_version:
                    type:
                      - "null"
                      - string
                    description: Maximum major OS version
                  label_map:
                    type:
                      - "null"
                      - object
                    additionalProperties: true
                    description: Device models to target, keyed by make
              description: Targeted devices (type/OS/version constraints)
            locations:
              type: array
              items:
                type: string
              description: Ad placement locations (e.g. FEED, COMMENTS_PAGE)
            platforms:
              type: array
              items:
                type: string
              description: Targeted platforms (e.g. ALL, IOS, ANDROID)
            view_modes:
              type: array
              items:
                type: string
              description: View mode targeting (e.g. ALL)
            suppression_event_types:
              type: array
              items:
                type: string
              description: Event types to suppress for retargeting
            gender:
              type:
                - "null"
                - string
              description: Gender targeting filter
            carriers:
              type: array
              items:
                type: string
              description: Mobile carrier targeting
            keywords:
              type: array
              items:
                type: string
              description: Keyword targeting terms
            age_targeting:
              type: object
              additionalProperties: true
              description: Age range targeting configuration
            languages:
              type:
                - "null"
                - array
              items:
                type: string
              description: Language targeting codes
        view_through_conversion_type:
          type:
            - "null"
            - string
          description: View-through conversion attribution type
        conversion_pixel_id:
          type:
            - "null"
            - string
          description: Conversion pixel ID
        app_id:
          type:
            - "null"
            - string
          description: App ID for app install campaigns
        optimization_strategy_type:
          type:
            - "null"
            - string
          description: Optimization strategy type
        product_set_id:
          type:
            - "null"
            - string
          description: Product set ID for catalog sales
        saved_audience_id:
          type:
            - "null"
            - string
          description: Saved audience ID
        schedule:
          type: array
          description: Weekly delivery schedule
        skadnetwork_metadata:
          type:
            - "null"
            - object
          description: SKAdNetwork metadata for iOS attribution
        shopping_type:
          type:
            - "null"
            - string
          description: Shopping type for catalog campaigns
        created_at:
          type: string
          format: date-time
          description: Ad group creation timestamp
        modified_at:
          type: string
          format: date-time
          description: Last modification timestamp

    Ad:
      type: object
      x-airbyte-entity-name: ads
      x-airbyte-stream-name: ad
      x-airbyte-ai-hints:
        summary: "Reddit ads with creative configuration, click URLs, event trackers, and approval status"
        when_to_use: "Questions about individual ads, creatives, ad approval status, or click destinations"
        trigger_phrases:
          - "ad"
          - "creative"
          - "ad status"
          - "ad approval"
          - "promoted post"
        freshness: live
        search_strategy: "Search by ad name, filter by status, campaign, or ad group"
        example_questions:
          - "Show me all active ads"
          - "Which ads were rejected and why?"
          - "What ads are in my campaign?"
      description: A Reddit ad with creative configuration, status, and tracking settings.
      properties:
        id:
          type: string
          description: Unique ad identifier
        name:
          type: string
          description: Ad name
        type:
          type: string
          enum:
            - UNSPECIFIED
            - DYNAMIC_CREATIVE_AD_TEMPLATE
          description: Ad type
        ad_account_id:
          type: string
          description: The ad account this ad belongs to
        ad_group_id:
          type: string
          description: The ad group this ad belongs to
        campaign_id:
          type: string
          description: The campaign this ad belongs to
        campaign_objective_type:
          type:
            - "null"
            - string
          description: Campaign objective type
        click_url:
          type:
            - "null"
            - string
          description: Click destination URL
        click_url_query_parameters:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              value:
                type: string
          description: Query parameters appended to click URL
        configured_status:
          type: string
          enum:
            - ACTIVE
            - ARCHIVED
            - DELETED
            - PAUSED
          description: User-configured status
        effective_status:
          type: string
          enum:
            - ACTIVE
            - AD_GROUP_PAUSED
            - ARCHIVED
            - CAMPAIGN_PAUSED
            - COMPLETED
            - DELETED
            - MISSING_PERMISSIONS
            - PAUSED
            - PENDING_APPROVAL
            - PENDING_BILLING_INFO
            - PENDING_ID_VERIFICATION
            - PROCESSING
            - REJECTED
          description: Effective delivery status
        delivery_status:
          type:
            - "null"
            - array
          items:
            type: string
          description: Delivery status details
        event_trackers:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                  - CLICK
                  - VIEW
              url:
                type: string
          description: Click and impression tracking URLs
        post_id:
          type:
            - "null"
            - string
          description: Reddit post ID (t3_ prefix)
        post_url:
          type:
            - "null"
            - string
          description: Reddit post URL
        preview_url:
          type:
            - "null"
            - string
          description: Ad preview URL
        preview_expiry:
          type:
            - "null"
            - string
          description: Preview URL expiration timestamp
        rejection_reason:
          type:
            - "null"
            - string
          description: Reason the ad was rejected
        profile_id:
          type:
            - "null"
            - string
          description: Reddit profile ID used for the ad
        products:
          type:
            - "null"
            - array
          description: Product items for catalog ads
        shopping_creative:
          type:
            - "null"
            - object
          description: Shopping creative configuration
        skadnetwork_metadata:
          type:
            - "null"
            - object
          description: SKAdNetwork metadata for iOS app install attribution
        extensions:
          type:
            - "null"
            - object
          description: Ad extensions
        created_at:
          type: string
          format: date-time
          description: Ad creation timestamp
        modified_at:
          type: string
          format: date-time
          description: Last modification timestamp
