# HubSpot API Connector
# OpenAPI 3.1 specification with Airbyte extensions

openapi: 3.1.0

info:
  title: HubSpot API Connector
  version: 0.1.18
  description: |
    HubSpot is a CRM platform that provides tools for marketing, sales, customer service,
    and content management. This connector provides access to contacts, companies, deals,
    tickets, and custom objects for customer relationship management and sales analytics.
  x-airbyte-connector-name: hubspot
  x-airbyte-connector-definition-id: 36c891d9-4bd9-43ac-bad2-10e12756272c
  x-airbyte-replication-version: "6.5.5"
  x-airbyte-replication-compatibility: ">=6.5.5, <7.0.0"
  x-airbyte-external-documentation-urls:
  - type: api_reference
    title: HubSpot API Documentation
    url: https://developers.hubspot.com/docs/api/crm/understanding-the-crm
  x-airbyte-example-questions:
    direct:
    - "List recent deals"
    - "List recent tickets"
    - "List companies in my CRM"
    - "List contacts in my CRM"
    search:
    - "Show me all deals from {company} this quarter"
    - "What are the top 5 most valuable deals in my pipeline right now?"
    - "Search for contacts in the marketing department at {company}"
    - "Give me an overview of my sales team's deals in the last 30 days"
    - "Identify the most active companies in our CRM this month"
    - "Compare the number of deals closed by different sales representatives"
    - "Find all tickets related to a specific product issue and summarize their status"
    unsupported:
    - "Create a new contact record for {person}"
    - "Update the contact information for {customer}"
    - "Delete the ticket from last week's support case"
    - "Schedule a follow-up task for this deal"
    - "Send an email to all contacts in the sales pipeline"
  x-airbyte-entity-relationships:
  - source_entity: objects
    target_entity: schemas
    foreign_key: objectType
    target_key: fullyQualifiedName
    cardinality: many_to_one
  x-airbyte-context-store:
    disable_compaction: false
    entities:
    - entity: companies
      x-airbyte-name: companies
      suggested: true
      fields:
      - name: archived
        type:
        - 'null'
        - 'boolean'
        description: Indicates whether the company has been deleted and moved to the recycling bin
      - name: contacts
        type:
        - 'null'
        - 'array'
        description: Associated contact records linked to this company
      - name: createdAt
        type:
        - 'null'
        - 'string'
        description: Timestamp when the company record was created
      - name: id
        type:
        - 'null'
        - 'string'
        description: Unique identifier for the company record
      - name: properties
        type:
        - 'object'
        description: Object containing all property values for the company
      - name: updatedAt
        type:
        - 'null'
        - 'string'
        description: Timestamp when the company record was last modified
    - entity: contacts
      x-airbyte-name: contacts
      suggested: true
      fields:
      - name: archived
        type:
        - 'null'
        - 'boolean'
        description: Boolean flag indicating whether the contact has been archived or deleted.
      - name: companies
        type:
        - 'null'
        - 'array'
        description: Associated company records linked to this contact.
      - name: createdAt
        type:
        - 'null'
        - 'string'
        description: Timestamp indicating when the contact was first created in the system.
      - name: id
        type:
        - 'null'
        - 'string'
        description: Unique identifier for the contact record.
      - name: properties
        type:
        - 'object'
        description: "Key-value object storing all contact properties and their values."
      - name: updatedAt
        type:
        - 'null'
        - 'string'
        description: Timestamp indicating when the contact record was last modified.
    - entity: deals
      x-airbyte-name: deals
      suggested: true
      fields:
      - name: archived
        type:
        - 'null'
        - 'boolean'
        description: Indicates whether the deal has been deleted and moved to the recycling bin
      - name: companies
        type:
        - 'null'
        - 'array'
        description: Collection of company records associated with the deal
      - name: contacts
        type:
        - 'null'
        - 'array'
        description: Collection of contact records associated with the deal
      - name: createdAt
        type:
        - 'null'
        - 'string'
        description: Timestamp when the deal record was originally created
      - name: id
        type:
        - 'null'
        - 'string'
        description: Unique identifier for the deal record
      - name: line_items
        type:
        - 'null'
        - 'array'
        description: Collection of product line items associated with the deal
      - name: properties
        type:
        - 'object'
        description: "Key-value object containing all deal properties and custom fields"
      - name: updatedAt
        type:
        - 'null'
        - 'string'
        description: Timestamp when the deal record was last modified
    - entity: tickets
      x-airbyte-name: tickets
      suggested: true
      fields:
      - name: archived
        type:
        - 'null'
        - 'boolean'
        description: Indicates whether the ticket has been deleted and moved to the recycling bin
      - name: companies
        type:
        - 'null'
        - 'array'
        description: Collection of company records associated with the ticket
      - name: contacts
        type:
        - 'null'
        - 'array'
        description: Collection of contact records associated with the ticket
      - name: createdAt
        type:
        - 'null'
        - 'string'
        description: Timestamp when the ticket record was originally created
      - name: id
        type:
        - 'null'
        - 'string'
        description: Unique identifier for the ticket record
      - name: properties
        type:
        - 'object'
        description: "Key-value object containing all ticket properties and custom fields"
      - name: updatedAt
        type:
        - 'null'
        - 'string'
        description: Timestamp when the ticket record was last modified

servers:
- url: https://api.hubapi.com
  description: HubSpot API server

security:
- oauth2: []
- hubspotPrivateApp: []

paths:
  # Contacts Entities
  "/crm/v3/objects/contacts":
    get:
      summary: List contacts
      description: Returns a paginated list of contacts
      operationId: listContacts
      x-airbyte-entity: contacts
      x-airbyte-action: list
      x-airbyte-preferred-for-check: true
      x-airbyte-record-extractor: $.results
      x-airbyte-meta-extractor:
        next_cursor: $.paging.next.after
        next_link: $.paging.next.link
      parameters:
      - name: limit
        in: query
        description: The maximum number of results to display per page.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 25
      - name: after
        in: query
        description: The paging cursor token of the last successfully read resource will be returned as the paging.next.after JSON property of a paged response containing more results.
        schema:
          type: string
      - name: associations
        in: query
        description: A comma separated list of associated object types to include in the response. Valid values are contacts, deals, tickets, and custom object type IDs or fully qualified names (e.g., "p12345_cars").
        schema:
          type: string
      - name: properties
        in: query
        description: A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored.
        schema:
          type: string
      - name: propertiesWithHistory
        in: query
        description: A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored. Usage of this parameter will reduce the maximum number of companies that can be read by a single request.
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        schema:
          type: boolean
      responses:
        "200":
          description: List of contacts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactsList"
        "401":
          description: Unauthorized

  "/crm/v3/objects/contacts/{contactId}":
    get:
      summary: Get a contact
      description: Get a single contact by ID
      operationId: getContact
      x-airbyte-entity: contacts
      x-airbyte-action: get
      parameters:
      - name: contactId
        in: path
        required: true
        description: Contact ID
        schema:
          type: string
      - name: properties
        in: query
        description: A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored.
        schema:
          type: string
      - name: propertiesWithHistory
        in: query
        description: A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored.
        schema:
          type: string
      - name: associations
        in: query
        description: A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored.
        schema:
          type: string
      - name: idProperty
        in: query
        description: The name of a property whose values are unique for this object.
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        schema:
          type: boolean
      responses:
        "200":
          description: Contact object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contact"
        "404":
          description: Contact not found
        "401":
          description: Unauthorized

  "/crm/v3/objects/contacts/search":
    post:
      summary: Search contacts
      description: Search for contacts by filtering on properties, searching through associations, and sorting results.
      operationId: searchContacts
      x-airbyte-entity: contacts
      x-airbyte-action: api_search
      x-airbyte-record-extractor: $.results
      x-airbyte-meta-extractor:
        total: $.total
        next_cursor: $.paging.next.after
        next_link: $.paging.next.link
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filterGroups:
                  type: array
                  description: Up to 6 groups of filters defining additional query criteria.
                  required: true
                  items:
                    type: object
                    properties:
                      filters:
                        type: array
                        required: true
                        items:
                          type: object
                          properties:
                            operator:
                              type: string
                              enum: [BETWEEN, CONTAINS_TOKEN, EQ, GT, GTE, HAS_PROPERTY, IN, LT, LTE, NEQ, NOT_CONTAINS_TOKEN, NOT_HAS_PROPERTY, NOT_IN]
                              required: true
                            propertyName:
                              type: string
                              description: The name of the property to apply the filter on.
                              required: true
                            value:
                              type: string
                              description: The value to match against the property.
                            values:
                              type: array
                              description: The values to match against the property.
                              items:
                                type: string
                properties:
                  type: array
                  description: A list of property names to include in the response.
                  required: true
                  items:
                    type: string
                limit:
                  type: integer
                  description: Maximum number of results to return
                  required: true
                  minimum: 1
                  maximum: 200
                  default: 25
                after:
                  type: string
                  description: A paging cursor token for retrieving subsequent pages.
                sorts:
                  type: array
                  description: Sort criteria
                  required: true
                  items:
                    type: object
                    properties:
                      propertyName:
                        type: string
                      direction:
                        type: string
                        enum: [ASCENDING, DESCENDING]
                query:
                  type: string
                  description: The search query string, up to 3000 characters.
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactsList"
        "401":
          description: Unauthorized
        "400":
          description: Bad request

  # Companies Entities
  "/crm/v3/objects/companies":
    get:
      summary: List companies
      description: Retrieve all companies, using query parameters to control the information that gets returned.
      operationId: listCompanies
      x-airbyte-entity: companies
      x-airbyte-action: list
      x-airbyte-record-extractor: $.results
      x-airbyte-meta-extractor:
        next_cursor: $.paging.next.after
        next_link: $.paging.next.link
      parameters:
      - name: limit
        in: query
        description: The maximum number of results to display per page.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 25
      - name: after
        in: query
        description: The paging cursor token of the last successfully read resource will be returned as the paging.next.after JSON property of a paged response containing more results.
        schema:
          type: string
      - name: associations
        in: query
        description: A comma separated list of associated object types to include in the response. Valid values are contacts, deals, tickets, and custom object type IDs or fully qualified names (e.g., "p12345_cars").
        schema:
          type: string
      - name: properties
        in: query
        description: A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored.
        schema:
          type: string
      - name: propertiesWithHistory
        in: query
        description: A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored. Usage of this parameter will reduce the maximum number of companies that can be read by a single request.
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        schema:
          type: boolean
      responses:
        "200":
          description: List of companies
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompaniesList"
        "401":
          description: Unauthorized

  "/crm/v3/objects/companies/{companyId}":
    get:
      summary: Get a company
      description: Get a single company by ID
      operationId: getCompany
      x-airbyte-entity: companies
      x-airbyte-action: get
      parameters:
      - name: companyId
        in: path
        required: true
        description: Company ID
        schema:
          type: string
      - name: properties
        in: query
        description: A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored.
        schema:
          type: string
      - name: propertiesWithHistory
        in: query
        description: A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored.
        schema:
          type: string
      - name: associations
        in: query
        description: A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored.
        schema:
          type: string
      - name: idProperty
        in: query
        description: The name of a property whose values are unique for this object.
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        schema:
          type: boolean
      responses:
        "200":
          description: Company object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Company"
        "404":
          description: Company not found
        "401":
          description: Unauthorized

  "/crm/v3/objects/companies/search":
    post:
      summary: Search companies
      description: Search for companies by filtering on properties, searching through associations, and sorting results.
      operationId: searchCompanies
      x-airbyte-entity: companies
      x-airbyte-action: api_search
      x-airbyte-record-extractor: $.results
      x-airbyte-meta-extractor:
        total: $.total
        next_cursor: $.paging.next.after
        next_link: $.paging.next.link
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filterGroups:
                  type: array
                  description: Up to 6 groups of filters defining additional query criteria.
                  required: true
                  items:
                    type: object
                    properties:
                      filters:
                        type: array
                        required: true
                        items:
                          type: object
                          properties:
                            operator:
                              type: string
                              enum: [BETWEEN, CONTAINS_TOKEN, EQ, GT, GTE, HAS_PROPERTY, IN, LT, LTE, NEQ, NOT_CONTAINS_TOKEN, NOT_HAS_PROPERTY, NOT_IN]
                              required: true
                            propertyName:
                              type: string
                              description: The name of the property to apply the filter on.
                              required: true
                            value:
                              type: string
                              description: The value to match against the property.
                            values:
                              type: array
                              description: The values to match against the property.
                              items:
                                type: string
                properties:
                  type: array
                  description: A list of property names to include in the response.
                  required: true
                  items:
                    type: string
                limit:
                  type: integer
                  description: Maximum number of results to return
                  required: true
                  minimum: 1
                  maximum: 200
                  default: 25
                after:
                  type: string
                  description: A paging cursor token for retrieving subsequent pages.
                sorts:
                  type: array
                  description: Sort criteria
                  required: true
                  items:
                    type: object
                    properties:
                      propertyName:
                        type: string
                      direction:
                        type: string
                        enum: [ASCENDING, DESCENDING]
                query:
                  type: string
                  description: The search query string, up to 3000 characters.
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompaniesList"
        "401":
          description: Unauthorized
        "400":
          description: Bad request

  # Deals Entities
  "/crm/v3/objects/deals":
    get:
      summary: List deals
      description: Returns a paginated list of deals
      operationId: listDeals
      x-airbyte-entity: deals
      x-airbyte-action: list
      x-airbyte-record-extractor: $.results
      x-airbyte-meta-extractor:
        next_cursor: $.paging.next.after
        next_link: $.paging.next.link
      parameters:
      - name: limit
        in: query
        description: The maximum number of results to display per page.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 25
      - name: after
        in: query
        description: The paging cursor token of the last successfully read resource will be returned as the paging.next.after JSON property of a paged response containing more results.
        schema:
          type: string
      - name: associations
        in: query
        description: A comma separated list of associated object types to include in the response. Valid values are contacts, deals, tickets, and custom object type IDs or fully qualified names (e.g., "p12345_cars").
        schema:
          type: string
      - name: properties
        in: query
        description: A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored.
        schema:
          type: string
      - name: propertiesWithHistory
        in: query
        description: A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored. Usage of this parameter will reduce the maximum number of companies that can be read by a single request.
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        schema:
          type: boolean
      responses:
        "200":
          description: List of deals
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DealsList"
        "401":
          description: Unauthorized

  "/crm/v3/objects/deals/{dealId}":
    get:
      summary: Get a deal
      description: Get a single deal by ID
      operationId: getDeal
      x-airbyte-entity: deals
      x-airbyte-action: get
      parameters:
      - name: dealId
        in: path
        required: true
        description: Deal ID
        schema:
          type: string
      - name: properties
        in: query
        description: A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored.
        schema:
          type: string
      - name: propertiesWithHistory
        in: query
        description: A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored.
        schema:
          type: string
      - name: associations
        in: query
        description: A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored.
        schema:
          type: string
      - name: idProperty
        in: query
        description: The name of a property whose values are unique for this object.
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        schema:
          type: boolean
      responses:
        "200":
          description: Deal object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deal"
        "404":
          description: Deal not found
        "401":
          description: Unauthorized

  "/crm/v3/objects/deals/search":
    post:
      summary: Search deals
      description: Search deals with filters and sorting
      operationId: searchDeals
      x-airbyte-entity: deals
      x-airbyte-action: api_search
      x-airbyte-record-extractor: $.results
      x-airbyte-meta-extractor:
        total: $.total
        next_cursor: $.paging.next.after
        next_link: $.paging.next.link
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filterGroups:
                  type: array
                  description: Up to 6 groups of filters defining additional query criteria.
                  required: true
                  items:
                    type: object
                    properties:
                      filters:
                        type: array
                        required: true
                        items:
                          type: object
                          properties:
                            operator:
                              type: string
                              enum: [BETWEEN, CONTAINS_TOKEN, EQ, GT, GTE, HAS_PROPERTY, IN, LT, LTE, NEQ, NOT_CONTAINS_TOKEN, NOT_HAS_PROPERTY, NOT_IN]
                              required: true
                            propertyName:
                              type: string
                              description: The name of the property to apply the filter on.
                              required: true
                            value:
                              type: string
                              description: The value to match against the property.
                            values:
                              type: array
                              description: The values to match against the property.
                              items:
                                type: string
                properties:
                  type: array
                  description: A list of property names to include in the response.
                  required: true
                  items:
                    type: string
                limit:
                  type: integer
                  description: Maximum number of results to return
                  required: true
                  minimum: 1
                  maximum: 200
                  default: 25
                after:
                  type: string
                  description: A paging cursor token for retrieving subsequent pages.
                sorts:
                  type: array
                  description: Sort criteria
                  required: true
                  items:
                    type: object
                    properties:
                      propertyName:
                        type: string
                      direction:
                        type: string
                        enum: [ASCENDING, DESCENDING]
                query:
                  type: string
                  description: The search query string, up to 3000 characters.
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DealsList"
        "401":
          description: Unauthorized
        "400":
          description: Bad request

  # Tickets Entities
  "/crm/v3/objects/tickets":
    get:
      summary: List tickets
      description: Returns a paginated list of tickets
      operationId: listTickets
      x-airbyte-entity: tickets
      x-airbyte-action: list
      x-airbyte-record-extractor: $.results
      x-airbyte-meta-extractor:
        next_cursor: $.paging.next.after
        next_link: $.paging.next.link
      parameters:
      - name: limit
        in: query
        description: The maximum number of results to display per page.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 25
      - name: after
        in: query
        description: The paging cursor token of the last successfully read resource will be returned as the paging.next.after JSON property of a paged response containing more results.
        schema:
          type: string
      - name: associations
        in: query
        description: A comma separated list of associated object types to include in the response. Valid values are contacts, deals, tickets, and custom object type IDs or fully qualified names (e.g., "p12345_cars").
        schema:
          type: string
      - name: properties
        in: query
        description: A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored.
        schema:
          type: string
      - name: propertiesWithHistory
        in: query
        description: A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored. Usage of this parameter will reduce the maximum number of companies that can be read by a single request.
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        schema:
          type: boolean
      responses:
        "200":
          description: List of tickets
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TicketsList"
        "401":
          description: Unauthorized

  "/crm/v3/objects/tickets/{ticketId}":
    get:
      summary: Get a ticket
      description: Get a single ticket by ID
      operationId: getTicket
      x-airbyte-entity: tickets
      x-airbyte-action: get
      parameters:
      - name: ticketId
        in: path
        required: true
        description: Ticket ID
        schema:
          type: string
      - name: properties
        in: query
        description: A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored.
        schema:
          type: string
      - name: propertiesWithHistory
        in: query
        description: A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored.
        schema:
          type: string
      - name: associations
        in: query
        description: A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored.
        schema:
          type: string
      - name: idProperty
        in: query
        description: The name of a property whose values are unique for this object.
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        schema:
          type: boolean
      responses:
        "200":
          description: Ticket object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ticket"
        "404":
          description: Ticket not found
        "401":
          description: Unauthorized

  "/crm/v3/objects/tickets/search":
    post:
      summary: Search tickets
      description: Search for tickets by filtering on properties, searching through associations, and sorting results.
      operationId: searchTickets
      x-airbyte-entity: tickets
      x-airbyte-action: api_search
      x-airbyte-record-extractor: $.results
      x-airbyte-meta-extractor:
        total: $.total
        next_cursor: $.paging.next.after
        next_link: $.paging.next.link
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filterGroups:
                  type: array
                  description: Up to 6 groups of filters defining additional query criteria.
                  required: true
                  items:
                    type: object
                    properties:
                      filters:
                        type: array
                        required: true
                        items:
                          type: object
                          properties:
                            operator:
                              type: string
                              enum: [BETWEEN, CONTAINS_TOKEN, EQ, GT, GTE, HAS_PROPERTY, IN, LT, LTE, NEQ, NOT_CONTAINS_TOKEN, NOT_HAS_PROPERTY, NOT_IN]
                              required: true
                            propertyName:
                              type: string
                              description: The name of the property to apply the filter on.
                              required: true
                            value:
                              type: string
                              description: The value to match against the property.
                            values:
                              type: array
                              description: The values to match against the property.
                              items:
                                type: string
                properties:
                  type: array
                  description: A list of property names to include in the response.
                  required: true
                  items:
                    type: string
                limit:
                  type: integer
                  description: Maximum number of results to return
                  required: true
                  minimum: 1
                  maximum: 200
                  default: 25
                after:
                  type: string
                  description: A paging cursor token for retrieving subsequent pages.
                sorts:
                  type: array
                  description: Sort criteria
                  required: true
                  items:
                    type: object
                    properties:
                      propertyName:
                        type: string
                      direction:
                        type: string
                        enum: [ASCENDING, DESCENDING]
                query:
                  type: string
                  description: The search query string, up to 3000 characters.
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TicketsList"
        "401":
          description: Unauthorized
        "400":
          description: Bad request

  # Schemas Entities (for discovering custom objects)
  "/crm-object-schemas/v3/schemas":
    get:
      summary: List custom object schemas
      description: Returns all custom object schemas to discover available custom objects
      operationId: listSchemas
      x-airbyte-entity: schemas
      x-airbyte-action: list
      x-airbyte-no-pagination: "HubSpot GET /crm-object-schemas/v3/schemas returns all custom object schemas defined on the portal in a single response; unlike the paged CRM object endpoints this discovery endpoint exposes no paging.next cursor or after token."
      x-airbyte-record-extractor: $.results
      parameters:
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        schema:
          type: boolean
      responses:
        "200":
          description: List of custom object schemas
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SchemasList"
        "401":
          description: Unauthorized

  "/crm-object-schemas/v3/schemas/{objectType}":
    get:
      summary: Get a custom object schema
      description: Get the schema for a specific custom object type
      operationId: getSchema
      x-airbyte-entity: schemas
      x-airbyte-action: get
      parameters:
      - name: objectType
        in: path
        required: true
        description: Fully qualified name or object type ID of your schema.
        schema:
          type: string
      responses:
        "200":
          description: Custom object schema
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Schema"
        "404":
          description: Schema not found
        "401":
          description: Unauthorized

  # Generic Objects Entities (for custom objects)
  "/crm/v3/objects/{objectType}":
    get:
      summary: List objects
      description: Read a page of objects. Control what is returned via the properties query param.
      operationId: listObjects
      x-airbyte-entity: objects
      x-airbyte-action: list
      x-airbyte-record-extractor: $.results
      x-airbyte-meta-extractor:
        next_cursor: $.paging.next.after
        next_link: $.paging.next.link
      parameters:
      - name: objectType
        in: path
        required: true
        description: Object type ID or fully qualified name (e.g., "cars" or "p12345_cars")
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of results to display per page.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 25
      - name: after
        in: query
        description: The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.
        schema:
          type: string
      - name: properties
        in: query
        description: A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored.
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        schema:
          type: boolean
          default: false
      - name: associations
        in: query
        description: A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored.
        schema:
          type: string
      - name: propertiesWithHistory
        in: query
        description: A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored.
        schema:
          type: string
      responses:
        "200":
          description: List of objects
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObjectsList"
        "401":
          description: Unauthorized
        "404":
          description: Object type not found

  "/crm/v3/objects/{objectType}/{objectId}":
    get:
      summary: Get an object
      description: Read an Object identified by {objectId}. {objectId} refers to the internal object ID by default, or optionally any unique property value as specified by the idProperty query param. Control what is returned via the properties query param.
      operationId: getObject
      x-airbyte-entity: objects
      x-airbyte-action: get
      parameters:
      - name: objectType
        in: path
        required: true
        description: Object type ID or fully qualified name
        schema:
          type: string
      - name: objectId
        in: path
        required: true
        description: Object record ID
        schema:
          type: string
      - name: properties
        in: query
        description: A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored.
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        schema:
          type: boolean
      - name: associations
        in: query
        description: A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored.
        schema:
          type: string
      - name: idProperty
        in: query
        description: The name of a property whose values are unique for this object.
        schema:
          type: string
      - name: propertiesWithHistory
        in: query
        description: A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored.
        schema:
          type: string
      responses:
        "200":
          description: Object record
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CRMObject"
        "404":
          description: Object not found
        "401":
          description: Unauthorized

components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: HubSpot OAuth 2.0 authentication with automatic token refresh
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          tokenUrl: https://api.hubapi.com/oauth/v1/token
          refreshUrl: https://api.hubapi.com/oauth/v1/token
          scopes:
            oauth: OAuth access
            crm.schemas.contacts.read: Read contact schemas
            crm.objects.contacts.read: Read contacts
            crm.objects.companies.read: Read companies
            crm.schemas.companies.read: Read company schemas
            crm.objects.deals.read: Read deals
            crm.schemas.deals.read: Read deal schemas
            crm.objects.custom.read: Read custom objects
            crm.schemas.custom.read: Read custom object schemas
            crm.lists.read: Read lists
            crm.objects.goals.read: Read goals
            crm.objects.owners.read: Read owners
            crm.objects.leads.read: Read leads
            crm.objects.users.read: Read users
            settings.users.read: Read user settings
            crm.objects.courses.read: Read courses
            crm.objects.projects.read: Read projects
            crm.objects.quotes.read: Read quotes
            tickets: Read tickets
            content: Read content
            automation: Read automation
            e-commerce: Read e-commerce
            forms: Read forms
            sales-email-read: Read sales emails
      x-airbyte-oauth-scopes:
        - scope: "oauth"
          mode: read
          entities:
            - contacts
            - companies
            - deals
            - tickets
            - schemas
            - objects
        - scope: "crm.objects.contacts.read"
          mode: read
          entities:
            - contacts
            - companies
            - deals
            - tickets
        - scope: "crm.schemas.contacts.read"
          mode: read
          entities:
            - contacts
      x-airbyte-token-refresh:
        auth_style: body
        body_format: form
      x-airbyte-oauth-credentials:
        title: HubSpot OAuth App Credentials
        description: Provide your own HubSpot OAuth app credentials to override the default Airbyte-managed ones.
        properties:
          client_id:
            type: string
            title: Client ID
            description: Your HubSpot OAuth app's client ID
          client_secret:
            type: string
            title: Client Secret
            description: Your HubSpot OAuth app's client secret
        required:
        - client_id
        - client_secret
      x-airbyte-auth-config:
        title: "OAuth2"
        type: object
        required:
        - refresh_token
        properties:
          client_id:
            type: string
            title: "Client ID"
            description: "Your HubSpot OAuth2 Client ID"
          client_secret:
            type: string
            title: "Client Secret"
            description: "Your HubSpot OAuth2 Client Secret"
          refresh_token:
            type: string
            title: "Refresh Token"
            description: "Your HubSpot OAuth2 Refresh Token"
          access_token:
            type: string
            title: "Access Token"
            description: "Your HubSpot OAuth2 Access Token (optional if refresh_token is provided)"
        auth_mapping:
          client_id: "${client_id}"
          client_secret: "${client_secret}"
          refresh_token: "${refresh_token}"
          access_token: "${access_token}"
        replication_auth_key_mapping:
          credentials.client_id: "client_id"
          credentials.client_secret: "client_secret"
          credentials.refresh_token: "refresh_token"
        replication_auth_key_constants:
          credentials.credentials_title: "OAuth Credentials"

    hubspotPrivateApp:
      type: http
      scheme: bearer
      description: HubSpot Private App access token authentication
      x-airbyte-auth-config:
        title: "Private App"
        type: object
        required:
        - private_app_token
        properties:
          private_app_token:
            type: string
            title: "Private App Token"
            description: "Access token from a HubSpot Private App"
        auth_mapping:
          token: "${private_app_token}"
        replication_auth_key_mapping:
          credentials.access_token: "private_app_token"
        replication_auth_key_constants:
          credentials.credentials_title: "Private App Credentials"

  schemas:
    # Contact schemas
    Contact:
      type: object
      x-airbyte-entity-name: contacts
      x-airbyte-stream-name: contacts
      x-airbyte-ai-hints:
        summary: "HubSpot contacts with email, name, and engagement history"
        when_to_use: "Looking up contact information, leads, or people in the CRM"
        trigger_phrases: ["hubspot contact", "lead", "customer contact", "who is", "contact info"]
        freshness: live
        search_strategy: "Search by email or name across properties for best results"
        example_questions:
          - "Find a contact in HubSpot"
          - "Show contact details for an email"
      description: HubSpot contact object
      properties:
        id:
          type: string
          description: Unique contact identifier
        properties:
          type: object
          description: Contact properties
          properties:
            createdate:
              type: [string, "null"]
            email:
              type: [string, "null"]
            firstname:
              type: [string, "null"]
            hs_object_id:
              type: [string, "null"]
            lastmodifieddate:
              type: [string, "null"]
            lastname:
              type: [string, "null"]
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
          description: Creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Last update timestamp
        archived:
          type: boolean
          description: Whether the contact is archived
        archivedAt:
          type: [string, "null"]
          format: date-time
          description: Timestamp when the contact was archived
        propertiesWithHistory:
          type: [object, "null"]
          description: Properties with historical values
          additionalProperties: true
        associations:
          type: [object, "null"]
          description: Relationships with other CRM objects
          additionalProperties: true
        objectWriteTraceId:
          type: [string, "null"]
          description: Trace identifier for write operations
        url:
          type: [string, "null"]
          description: URL to view contact in HubSpot

    ContactsList:
      type: object
      description: Paginated list of contacts
      properties:
        results:
          type: array
          items:
            $ref: "#/components/schemas/Contact"
        paging:
          $ref: "#/components/schemas/Paging"
        total:
          type: integer
          description: Total number of results (search only)

    # Company schemas
    Company:
      type: object
      x-airbyte-entity-name: companies
      x-airbyte-stream-name: companies
      x-airbyte-ai-hints:
        summary: "Companies in HubSpot CRM with industry, size, and revenue data"
        when_to_use: "Looking up company information or account details"
        trigger_phrases: ["hubspot company", "account", "company details", "which company"]
        freshness: live
        search_strategy: "Search by name or domain"
        example_questions:
          - "Find a company in HubSpot"
          - "Show company details"
      description: HubSpot company object
      properties:
        id:
          type: string
          description: Unique company identifier
        properties:
          type: object
          description: Company properties
          properties:
            createdate:
              type: [string, "null"]
            domain:
              type: [string, "null"]
            hs_lastmodifieddate:
              type: [string, "null"]
            hs_object_id:
              type: [string, "null"]
            name:
              type: [string, "null"]
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
          description: Creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Last update timestamp
        archived:
          type: boolean
          description: Whether the company is archived
        archivedAt:
          type: [string, "null"]
          format: date-time
          description: Timestamp when the company was archived
        propertiesWithHistory:
          type: [object, "null"]
          description: Properties with historical values
          additionalProperties: true
        associations:
          type: [object, "null"]
          description: Relationships with other CRM objects
          additionalProperties: true
        objectWriteTraceId:
          type: [string, "null"]
          description: Trace identifier for write operations
        url:
          type: [string, "null"]
          description: URL to view company in HubSpot

    CompaniesList:
      type: object
      description: Paginated list of companies
      properties:
        results:
          type: array
          items:
            $ref: "#/components/schemas/Company"
        paging:
          $ref: "#/components/schemas/Paging"
        total:
          type: integer
          description: Total number of results (search only)

    # Deal schemas
    Deal:
      type: object
      x-airbyte-entity-name: deals
      x-airbyte-stream-name: deals
      x-airbyte-ai-hints:
        summary: "Sales deals with stage, amount, close date, and owner"
        when_to_use: "Questions about sales pipeline, deal status, revenue, or forecasts"
        trigger_phrases: ["deal", "sales pipeline", "deal stage", "revenue forecast", "close date"]
        freshness: live
        search_strategy: "Search by name or filter by stage, owner, or close date"
        example_questions:
          - "What deals are in the pipeline?"
          - "Show deals closing this month"
      description: HubSpot deal object
      properties:
        id:
          type: string
          description: Unique deal identifier
        properties:
          type: object
          description: Deal properties
          properties:
            amount:
              type: [string, "null"]
            closedate:
              type: [string, "null"]
            createdate:
              type: [string, "null"]
            dealname:
              type: [string, "null"]
            dealstage:
              type: [string, "null"]
            hs_lastmodifieddate:
              type: [string, "null"]
            hs_object_id:
              type: [string, "null"]
            pipeline:
              type: [string, "null"]
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
          description: Creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Last update timestamp
        archived:
          type: boolean
          description: Whether the deal is archived
        archivedAt:
          type: [string, "null"]
          format: date-time
          description: Timestamp when the deal was archived
        propertiesWithHistory:
          type: [object, "null"]
          description: Properties with historical values
          additionalProperties: true
        associations:
          type: [object, "null"]
          description: Relationships with other CRM objects
          additionalProperties: true
        objectWriteTraceId:
          type: [string, "null"]
          description: Trace identifier for write operations
        url:
          type: [string, "null"]
          description: URL to view deal in HubSpot

    DealsList:
      type: object
      description: Paginated list of deals
      properties:
        results:
          type: array
          items:
            $ref: "#/components/schemas/Deal"
        paging:
          $ref: "#/components/schemas/Paging"
        total:
          type: integer
          description: Total number of results (search only)

    # Ticket schemas
    Ticket:
      type: object
      x-airbyte-entity-name: tickets
      x-airbyte-stream-name: tickets
      x-airbyte-ai-hints:
        summary: "Support tickets tracking customer issues and requests"
        when_to_use: "Finding support tickets or customer service issues"
        trigger_phrases: ["hubspot ticket", "support ticket", "customer issue"]
        freshness: live
        search_strategy: "Search by subject or filter by status, priority, or assignee"
        example_questions:
          - "Show open HubSpot tickets"
          - "Find support tickets for a company"
      description: HubSpot ticket object
      properties:
        id:
          type: string
          description: Unique ticket identifier
        properties:
          type: object
          description: Ticket properties
          properties:
            content:
              type: [string, "null"]
            createdate:
              type: [string, "null"]
            hs_lastmodifieddate:
              type: [string, "null"]
            hs_object_id:
              type: [string, "null"]
            hs_pipeline:
              type: [string, "null"]
            hs_pipeline_stage:
              type: [string, "null"]
            hs_ticket_category:
              type: [string, "null"]
            hs_ticket_priority:
              type: [string, "null"]
            subject:
              type: [string, "null"]
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
          description: Creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Last update timestamp
        archived:
          type: boolean
          description: Whether the ticket is archived
        archivedAt:
          type: [string, "null"]
          format: date-time
          description: Timestamp when the ticket was archived
        propertiesWithHistory:
          type: [object, "null"]
          description: Properties with historical values
          additionalProperties: true
        associations:
          type: [object, "null"]
          description: Relationships with other CRM objects
          additionalProperties: true
        objectWriteTraceId:
          type: [string, "null"]
          description: Trace identifier for write operations
        url:
          type: [string, "null"]
          description: URL to view ticket in HubSpot

    TicketsList:
      type: object
      description: Paginated list of tickets
      properties:
        results:
          type: array
          items:
            $ref: "#/components/schemas/Ticket"
        paging:
          $ref: "#/components/schemas/Paging"
        total:
          type: integer
          description: Total number of results (search only)

    # Schema schemas (for custom objects discovery)
    Schema:
      type: object
      x-airbyte-entity-name: schemas
      x-airbyte-ai-hints:
        summary: "Custom object schema definitions in HubSpot"
        when_to_use: "Looking up custom object structures or schema definitions"
        trigger_phrases: ["custom object schema", "object definition", "hubspot schema"]
        freshness: static
        search_strategy: "List all schema definitions"
        example_questions:
          - "What custom objects are defined in HubSpot?"
      description: Custom object schema definition
      properties:
        id:
          type: string
          description: Schema ID
        name:
          type: string
          description: Schema name
        labels:
          type: object
          description: Display labels
          properties:
            singular:
              type: string
            plural:
              type: string
        objectTypeId:
          type: string
          description: Object type identifier
        fullyQualifiedName:
          type: string
          description: Fully qualified name (p{portal_id}_{object_name})
        requiredProperties:
          type: array
          items:
            type: string
        searchableProperties:
          type: array
          items:
            type: string
        primaryDisplayProperty:
          type: string
        secondaryDisplayProperties:
          type: array
          items:
            type: string
        description:
          type: [string, "null"]
        allowsSensitiveProperties:
          type: boolean
        archived:
          type: boolean
        restorable:
          type: boolean
        metaType:
          type: string
        createdByUserId:
          type: integer
        updatedByUserId:
          type: integer
        properties:
          type: array
          description: Schema properties
          items:
            type: object
            properties:
              name:
                type: string
              label:
                type: string
              type:
                type: string
              fieldType:
                type: string
              description:
                type: string
              groupName:
                type: string
              displayOrder:
                type: integer
              calculated:
                type: boolean
              externalOptions:
                type: boolean
              archived:
                type: boolean
              hasUniqueValue:
                type: boolean
              hidden:
                type: boolean
              formField:
                type: boolean
              dataSensitivity:
                type: string
              hubspotDefined:
                type: boolean
              updatedAt:
                type: string
              createdAt:
                type: string
              options:
                type: array
              createdUserId:
                type: string
              updatedUserId:
                type: string
              showCurrencySymbol:
                type: boolean
              modificationMetadata:
                type: object
                properties:
                  archivable:
                    type: boolean
                  readOnlyDefinition:
                    type: boolean
                  readOnlyValue:
                    type: boolean
                  readOnlyOptions:
                    type: boolean
                additionalProperties: true
            additionalProperties: true
        associations:
          type: array
          items:
            type: object
            properties:
              fromObjectTypeId:
                type: string
              toObjectTypeId:
                type: string
              name:
                type: string
              cardinality:
                type: string
              id:
                type: string
              inverseCardinality:
                type: string
              hasUserEnforcedMaxToObjectIds:
                type: boolean
              hasUserEnforcedMaxFromObjectIds:
                type: boolean
              maxToObjectIds:
                type: integer
              maxFromObjectIds:
                type: integer
              createdAt:
                type: [string, "null"]
              updatedAt:
                type: [string, "null"]
            additionalProperties: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    SchemasList:
      type: object
      description: List of custom object schemas
      properties:
        results:
          type: array
          items:
            $ref: "#/components/schemas/Schema"

    # Generic CRM object schemas
    CRMObject:
      type: object
      x-airbyte-entity-name: objects
      x-airbyte-ai-hints:
        summary: "Custom CRM objects defined in HubSpot"
        when_to_use: "Querying custom objects or non-standard CRM entities"
        trigger_phrases: ["custom object", "hubspot object", "CRM object"]
        freshness: live
        search_strategy: "Filter by object type"
        example_questions:
          - "Show custom objects in HubSpot"
      description: Generic HubSpot CRM object (for custom objects)
      properties:
        id:
          type: string
          description: Unique object identifier
        properties:
          type: object
          description: Object properties
          properties:
            hs_createdate:
              type: [string, "null"]
            hs_lastmodifieddate:
              type: [string, "null"]
            hs_object_id:
              type: [string, "null"]
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
          description: Creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Last update timestamp
        archived:
          type: boolean
          description: Whether the object is archived
        archivedAt:
          type: [string, "null"]
          format: date-time
          description: Timestamp when the object was archived
        propertiesWithHistory:
          type: [object, "null"]
          description: Properties with historical values
          additionalProperties: true
        associations:
          type: [object, "null"]
          description: Relationships with other CRM objects
          additionalProperties: true
        objectWriteTraceId:
          type: [string, "null"]
          description: Trace identifier for write operations
        url:
          type: [string, "null"]
          description: URL to view object in HubSpot

    ObjectsList:
      type: object
      description: Paginated list of generic CRM objects
      properties:
        results:
          type: array
          items:
            $ref: "#/components/schemas/CRMObject"
        paging:
          $ref: "#/components/schemas/Paging"

    # Shared pagination schema
    Paging:
      type: object
      description: Pagination information
      properties:
        next:
          type: object
          properties:
            after:
              type: string
              description: Cursor for next page
            link:
              type: string
              description: URL for next page
